.idea

Lesson4/BONUS/helm/original-yamls
Lesson4/BONUS/kubespray/.vagrant
Lesson4/BONUS/kubespray/kubespray/
Lesson4/BONUS/kubespray/commands.sh
Lesson4/BONUS/kubespray/commands.txt
Lesson5/Q1-Q2/commands.txt
Lesson5/BONUS/values_with_mail_password.yaml
Lesson7/BONUS/how-to.md